<div class="container-fluid">

    <!-- Headder -->
    <div class="heading"> 
        <h1>HOW IT WORK — SIMPLE AS 1, 2, 3</h1> 
    </div>

    <!-- Phone-Section -->
    <div class="row">
        <div class="col-md-6 phone">
        </div>

    <!-- Steps-section -->
        <div class="col-md-6 left">
            <div class="process">
                <div class="process-number">1</div>
                <p class="process-para">Choose the subscription plan that best fits your needs and sign up today.</p>
            </div>
            <div class="process">
                <div class="process-number">2</div>
                <p class="process-para">Order your delicious meal using our mobile app or website. Or you can even call us!</p>
            </div>
            <div class="process">
                <div class="process-number">3</div>
                <p class="process-para">Enjoy your meal after less than 20 minutes. See you the next time!</p>
            </div>
            
    <!--App-Section  -->
            <div class="appBtns">
                <a href="#"><img src="/assets/images/apple.png"></a>
                <a href="#"><img src="/assets/images/download-app-android.png"></a>
           </div>
        </div>
    </div>









</div>
