<div class="container-fluid main">
    <div class="heading">
        <h1>START EATING HEALTHY TODAY</h1>
    </div>

<!-- Block1 -->
    <div class="row">
        <div class="col " >
            <p>PREMIUM</p>
            <h1 class="cost">$399 /month</h1>
            <p>That's only 13.30$ per meal</p> 
        </div>
        <div class="col">
            <p>PRO</p>
                <h1 class="cost">$149 /month</h1>
                <p>That's only 14.90$ per meal</p>
        </div>
        <div class="col">
            <p>STARTER</p>
                <h1 class="cost">$19 /month</h1>
                <p></p>
        </div>
    </div>    

<!-- Block2 -->
        <div class="row ">
            <div class="col">
                <ul>
                    <li><i class="fa fa-check icon"  aria-hidden="true"></i>1 meal every day</li>
                    <li><i class="fa fa-check icon" aria-hidden="true"></i>Order 24/7</li>
                    <li><i class="fa fa-check icon" aria-hidden="true"></i>Access to newest creations</li>
                    <li><i class="fa fa-check icon" aria-hidden="true"></i>Free delivery</li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><i class="fa fa-check icon" aria-hidden="true"></i>1 meal 10 days/month</li>
                    <li><i class="fa fa-check icon" aria-hidden="true"></i>Order 24/7</li>
                    <li><i class="fa fa-check icon" aria-hidden="true"></i>Access to newest creations</li>
                    <li><i class="fa fa-check icon" aria-hidden="true"></i>Free delivery</li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><i class="fa fa-check icon" aria-hidden="true"></i>1 meal</li>
                    <li><i class="fa fa-check icon " aria-hidden="true"></i>Order from 8 am to 12 pm</li>
                    <li><i class="fa fa-times icon" aria-hidden="true"></i></li>
                    <li><i class="fa fa-check icon" aria-hidden="true"></i>Free delivery</li>
                </ul>
            </div>

<!-- Block3  -->
        </div>
        <div class="row">
            <div class="col signup">
                <button type="button" class="btn btn-success">Sign up now</button>
            </div>
            <div class="col signup">
                <button type="button" class="btn btn-outline-success">Sign up now</button>
            </div>
            <div class="col signup">
                <button type="button" class="btn btn-outline-success">Sign up now</button>
            </div>
          </div>
</div>





 









