<div class="container-fluid">
    <div class="row sec1">

    <!--Links -->
        <div class="col-9">
        <a href="#" class="links">About us</a>
        <a href="#" class="links">Blog</a>
        <a href="#" class="links"> Press</a>
        <a href="#" class="links">iOS App</a>
        <a href="#" class="links">Android App</a>
        </div>

    <!-- Icons -->
        <div class=" col-3 sec2">
            <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
    </div>

    <!-- Text-Area -->
    <div class="text">
        <p>
            Copyright <i class="fa fa-copyright icon" aria-hidden="true"></i> 2015 by Omnifood All rights reserved
        </p>

    
    </div>

</div>

 


 

 
