<div class="container">
    <div class="heading">
        <h1>WE'RE CURRENTLY IN THESE CITIES</h1>
    </div>

<!-- City_Images -->
    <div class="row">
        <div class="col city1"></div>
        <div class="col city2"></div>
        <div class="col city3"></div>
        <div class="col city4"></div>
    </div>

<!--City_Details  -->
    <div class="row block">
        <div class="col info1">
            <h4>LIBSON</h4>
            <div class="text"><i class="fa fa-user user" aria-hidden="true"></i>600+ happy eaters</div>
            <div class="text"><i class="fa fa-star user" aria-hidden="true"></i>60+ top chefs</div>
            <div class="text"><i class="fa fa-twitter user" aria-hidden="true"></i><a href="#">@omnifood_lx</a></div>
        </div>
        <div class="col info2">
            <h4>SAN-FRANCISCO</h4>
                <div class="text"><i class="fa fa-user user" aria-hidden="true"></i>3700+ happy eaters</div>   
                <div class="text"><i class="fa fa-star user" aria-hidden="true"></i>160+ top chefs</div>
                <div class="text"><i class="fa fa-twitter user" aria-hidden="true"></i><a href="#">@omnifood_lx</a></div>
        </div>
        <div class="col info3">
            <h4>BERLIN</h4>
            <div class="text"><i class="fa fa-user user" aria-hidden="true"></i>2300+ happy eaters</div>
            <div class="text"><i class="fa fa-star user" aria-hidden="true"></i>110+ top chefs</div>
            <div class="text"><i class="fa fa-twitter user" aria-hidden="true"></i><a href="#">@omnifood_lx</a></div>
        </div>
        <div class="col info4 ">
            <h4>LONDON</h4>
            <div class="text"><i class="fa fa-user user" aria-hidden="true"></i>1200+ happy eaters</div>
            <div class="text"><i class="fa fa-star user" aria-hidden="true"></i>50+ top chefs</div>
            <div class="text"><i class="fa fa-twitter user" aria-hidden="true"></i><a href="#">@omnifood_lx</a></div>
        </div>
    </div>
</div>