.container-fluid{
    margin-top: 30px;
    padding: 0px;
}
.pics_sec{padding-left: 30px;}
mat-grid-list{
    width: 1260px;
    height: 50px;
    margin-left: 0px;
}
mat-grid-tile {
    background: lightblue;
    height: 50px;
}
.pic1{
    background-image: url("/assets/images/1.jpg");
    background-size: 316px;
    width: 330px;
    background-repeat: no-repeat;
    
}
.pic2{
    background-image: url("/assets/images/2.jpg");
    background-size: 316px;
    width: 330px;
    background-repeat: no-repeat;
    
}
.pic3{
    background-image: url("/assets/images/3.jpg");
    background-size: 316px;
    width: 330px;
    background-repeat: no-repeat;
    
}
.pic4{
    background-image: url("/assets/images/4.jpg");
    background-size: 316px;
    width: 330px;
    background-repeat: no-repeat;
   
}
.pic5{
    background-image: url("/assets/images/5.jpg");
    background-size: 316px;
    width: 330px;
    background-repeat: no-repeat;
}
.pic6{
    background-image: url("/assets/images/6.jpg");
    background-size: 316px;
    width: 330px;
    background-repeat: no-repeat;
    
}
.pic7{
    background-image: url("/assets/images/7.jpg");
    background-size: 316px;
    width: 330px;
    background-repeat: no-repeat;
    
}
.pic8{
    background-image: url("/assets/images/8.jpg");
    background-size: 316px;
    width: 330px;
    background-repeat: no-repeat;
   
}
