<div class="container-fluid pics_sec">
    <mat-grid-list class="pics" cols="4" rowHeight="2:1" gutterSize=0px>
        <mat-grid-tile class="pic1"></mat-grid-tile>
        <mat-grid-tile class="pic2"></mat-grid-tile>
        <mat-grid-tile class="pic3"></mat-grid-tile>
        <mat-grid-tile class="pic4"></mat-grid-tile>
        <mat-grid-tile class="pic5"></mat-grid-tile>
        <mat-grid-tile class="pic6"></mat-grid-tile>
        <mat-grid-tile class="pic7"></mat-grid-tile>
        <mat-grid-tile class="pic8"></mat-grid-tile>
      </mat-grid-list>
</div>
